/*color */
/*fonts */
/* fontface*/
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-default: #222222;
  --color-primary: #008374;
  --color-secondary: #f85a40;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  position: relative;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #00b6a1;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*mixin */
/*-------------------------------------------- */
* {
  padding: 0;
  margin: 0;
}

@media (max-width: 400px) {
  .top-menu {
    display: none;
  }
}
.top-menu .top-menu-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .top-menu .top-menu-container {
    justify-content: center;
  }
}
.top-menu .top-menu-container .menutop-left {
  font-size: 15px;
  display: flex;
}
@media (max-width: 768px) {
  .top-menu .top-menu-container .menutop-left {
    font-size: 14px;
  }
}
.top-menu .top-menu-container .menutop-left .menu-number {
  margin-left: 20px;
}
.top-menu .top-menu-container .menutop-left .mail {
  padding-right: 5px;
}
.top-menu .top-menu-container .menutop-left .number {
  padding-right: 5px;
}
.top-menu .top-menu-container .menutop-right {
  font-size: 17px;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  .top-menu .top-menu-container .menutop-right {
    display: none;
  }
}
.top-menu .top-menu-container .menutop-right a:last-child {
  padding-right: 10px;
}
.top-menu .top-menu-container .menutop-right a {
  padding-right: 17px;
  transition: color 0.4s;
}
.top-menu .top-menu-container .menutop-right a:hover {
  color: white;
}

.header {
  background-color: #008374;
  height: 85px;
}
.header .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 11px;
}
.header .nav-container .navbar-phone {
  position: fixed;
  right: -115%;
  transition: all 0.3s;
  z-index: 100;
  background-color: #008374;
  top: 0;
  width: 70vw;
  height: 100vh;
  z-index: 310;
  padding: 80px 0px 0px 15px;
}
@media (min-width: 992px) {
  .header .nav-container .navbar-phone {
    display: none;
  }
}
.header .nav-container .navbar-phone .list-menu {
  list-style: none;
}
.header .nav-container .navbar-phone .list-menu li {
  margin-bottom: 20px;
}
.header .nav-container .navbar-phone .list-menu li a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: 17px;
  transition: color 0.4s;
}
.header .nav-container .navbar-phone .list-menu li a:hover {
  color: white;
}
.header .nav-container .navbar-phone .list-menu li .w-f {
  color: #fff;
}
.header .nav-container .navbar .list-menu {
  list-style-type: none;
}
@media (max-width: 992px) {
  .header .nav-container .navbar .list-menu {
    display: none;
  }
}
.header .nav-container .navbar .list-menu li {
  display: inline-block;
  padding-left: 30px;
}
.header .nav-container .navbar .list-menu li a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: 17px;
  transition: color 0.4s;
}
.header .nav-container .navbar .list-menu li a:hover {
  color: white;
}
.header .nav-container .navbar .list-menu li .active {
  color: #fff;
  padding-bottom: 5px;
  border-bottom: 2px solid red;
}

.main .screen-hero {
  background-color: #008374;
}
@media (min-width: 1200px) {
  .main .screen-hero {
    height: 95vh;
  }
}
.main .screen-hero .banner-top {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}
@media (max-width: 992px) {
  .main .screen-hero .banner-top {
    flex-direction: column-reverse;
  }
}
.main .screen-hero .banner-top .banner-img img {
  width: 100%;
}
.main .screen-hero .banner-top .banner-text {
  padding-top: 70px;
  width: 49%;
  color: #fff;
}
@media (max-width: 1200px) {
  .main .screen-hero .banner-top .banner-text {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .main .screen-hero .banner-top .banner-text h1 {
    font-size: 27px !important;
  }
}
@media (max-width: 992px) {
  .main .screen-hero .banner-top .banner-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
  }
}
.main .screen-hero .banner-top .banner-text div {
  position: relative;
}
.main .screen-hero .box-menu {
  padding-top: 80px;
  text-align: center;
}
@media (min-width: 1200px) {
  .main .screen-hero .box-menu {
    transform: translateY(-30px);
  }
}
.main .screen-hero .box-menu .boxing-container .row .box-menu-item {
  position: relative;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .main .screen-hero .box-menu .boxing-container .row .box-menu-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .main .screen-hero .box-menu .boxing-container .row .box-menu-item {
    margin-bottom: 20px;
  }
}
.main .screen-hero .box-menu .boxing-container .row .box-menu-item div {
  background-color: #008D7D;
  padding: 30px 10px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  color: white;
  transition: 0.4s;
}
@media (min-width: 1200px) {
  .main .screen-hero .box-menu .boxing-container .row .box-menu-item div:hover {
    transform: translateY(-15px);
  }
}
.main .screen-hero .box-menu .boxing-container .row .box-menu-item div:hover {
  background-color: #149687;
}
.main .screen-hero .box-menu .boxing-container .row .box-menu-item div .box-icon {
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.7);
}
.main .screen-hero .box-menu .boxing-container .row .box-menu-item div h1 {
  font-weight: 600;
  font-size: 28px;
}
.main .about-us {
  margin-bottom: 100px;
}
@media (min-width: 1200px) {
  .main .about-us {
    margin-top: 200px;
  }
}
@media (max-width: 1200px) {
  .main .about-us {
    margin-top: 50px;
  }
}
.main .about-us .aboutus-container .row .about-us-left {
  padding-right: 25px;
}
@media (max-width: 992px) {
  .main .about-us .aboutus-container .row .about-us-left {
    padding-right: 10px;
  }
}
.main .about-us .aboutus-container .row .about-us-left h2 {
  font-weight: 600;
  font-size: 30px;
}
@media (max-width: 700px) {
  .main .about-us .aboutus-container .row .about-us-left h2 {
    font-size: 20px;
  }
}
.main .about-us .aboutus-container .row .about-us-left p {
  text-align: justify;
}
.main .about-us .aboutus-container .row .about-us-left .about-img {
  padding: 20px 0px 20px 0px;
}
.main .about-us .aboutus-container .row .about-us-left .about-img img {
  border-radius: 15px;
}
.main .about-us .aboutus-container .row .aboutus-right {
  padding-left: 25px;
}
@media (max-width: 992px) {
  .main .about-us .aboutus-container .row .aboutus-right {
    padding-left: 10px;
  }
}
.main .about-us .aboutus-container .row .aboutus-right p {
  text-align: justify;
}
.main .about-us .aboutus-container .row .aboutus-right .more > div {
  margin-bottom: 10px;
}
.main .about-us .aboutus-container .row .aboutus-right .about-video {
  position: relative;
}
.main .about-us .aboutus-container .row .aboutus-right .about-video img {
  border-radius: 15px !important;
  height: 380px;
  width: 100%;
}
@media (max-width: 992px) {
  .main .about-us .aboutus-container .row .aboutus-right .about-video img {
    height: 100%;
  }
}
.main .clients .client-container {
  margin-bottom: 100px;
}
.main .clients .client-container .item img {
  width: 70% !important;
  transition: all 0.4s;
}
.main .clients .client-container .item img:hover {
  width: 75% !important;
}
.main .counter {
  margin-bottom: 120px;
}
.main .counter .counter-container .row .counter-text div {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .main .counter .counter-container .row .counter-text div {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 992px) {
  .main .counter .counter-container .row .counter-text div {
    padding-bottom: 14px;
    padding-top: 14px;
  }
}
.main .counter .counter-container .row .counter-text div .number {
  color: #008374;
  font-size: 40px;
  font-weight: 600;
}
.main .counter .counter-container .row .counter-text div p {
  padding-top: 17px;
  padding-left: 15px;
  color: #222222;
}
.main .counter .counter-container .row .counter-text div p span {
  font-weight: 600;
  padding-right: 5px;
}
@media (max-width: 400px) {
  .main .call-to-action {
    display: none;
  }
}
.main .call-to-action .call-container {
  position: relative;
  margin-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/cta-bg.jpg") center center;
  background-size: cover;
  padding: 100px 60px;
  border-radius: 15px;
  height: 513px;
}
.main .call-to-action .call-container .call-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0%;
  right: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0px 60px 0px 60px;
  z-index: 50;
  color: white;
}
.main .service {
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.main .service .service-container .list-service-item {
  margin-top: 50px;
}
.main .service .service-container .list-service-item .service-item {
  background-color: white;
  margin-bottom: 20px;
  padding: 30px 30px 70px 30px;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.main .service .service-container .list-service-item .service-item .service-icon {
  position: relative;
}
.main .Our-Team {
  margin-top: 50px;
  padding-bottom: 50px;
}
.main .Our-Team .my-team {
  margin-top: 60px;
}
.main .Our-Team .my-team .list-team {
  padding-left: 10px;
  padding-right: 10px;
}
.main .Our-Team .my-team .list-team .team-item {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 1200px) {
  .main .Our-Team .my-team .list-team .team-item {
    margin-top: 20px;
  }
}
.main .Our-Team .my-team .list-team .team-item img {
  border-radius: 10px;
}
.main .Our-Team .my-team .list-team .team-item .team-media {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.main .Our-Team .my-team .list-team .team-item .team-media a {
  font-size: 18px;
  border: 1px solid #bbbbbb;
  padding: 8px 15px;
  border-radius: 50%;
  color: #a2a2a2;
  transition: all 0.3s;
}
.main .Our-Team .my-team .list-team .team-item .team-media a:hover {
  color: #008374;
  border: 1px solid #008374;
}
.main .portfolio {
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main .portfolio .portfolio-container .product {
  margin-top: 40px;
}
.main .portfolio .portfolio-container .product .product-item {
  background-color: white;
  margin-top: 25px;
  border-radius: 10px;
  overflow: hidden;
}
.main .contact .contact-container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main .contact .contact-container .contact-info {
  background-color: #008072;
  border-radius: 10px 0px 0px 10px;
  padding: 5px 20px 24px 20px;
}
.main .contact .contact-container .contact-info .info-item {
  display: flex;
  background-color: #009282;
  margin-top: 20px;
  padding: 15px 20px 5px 20px;
  border-radius: 10px;
  color: white;
  transition: all 0.4s;
}
.main .contact .contact-container .contact-info .info-item:hover .info-icon {
  color: #008072;
  background-color: white;
}
.main .contact .contact-container .contact-info .info-item .info-text {
  margin-left: 15px;
}
.main .contact .contact-container .contact-info .info-item .info-text h4 {
  font-size: 21px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 2px;
}
.main .contact .contact-container .contact-info .info-item .info-text p {
  font-size: 13px;
  padding-top: 0;
}
.main .contact .contact-container .contact-info .info-item .info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: all 0.4s;
}
.main .contact .contact-container .contact-form {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.footer {
  background-color: #008374;
  color: white;
}
.footer .footer-container {
  padding: 35px 15px;
}

.top-menu {
  background-color: #00796B;
  padding: 7px 0;
  color: white;
  transition: all 0.5s;
}

.brand-text {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
}
.brand-text:hover {
  color: white;
}
.brand-text span {
  color: red;
}

.burger-menu {
  border: none;
  padding: 8px 13px 0px 13px;
  background-color: transparent;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0px 10px;
  font-size: 22px;
  border: none;
  color: white;
  background-color: transparent;
}

.opac-all {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 106, 93, 0.9);
  z-index: 300;
  opacity: 0.5;
  display: none;
}
@media (min-width: 992px) {
  .opac-all {
    display: none !important;
  }
}

.banner-welcome {
  font-weight: 600;
  font-size: 48px;
}
@media (max-width: 650px) {
  .banner-welcome {
    font-size: 37px;
  }
}

.banner-description {
  color: rgba(255, 255, 255, 0.7);
}

.btn-banner-strat {
  color: #fff !important;
  padding: 14px 50px !important;
  border: 2px solid rgba(255, 255, 255, 0.4) !important;
  background-color: #1A9082 !important;
  border-radius: 28px !important;
  transition: all 0.2s !important;
}
.btn-banner-strat:hover {
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
}

.btn-banner-video {
  color: #fff !important;
  padding: 14px 15px !important;
  border: none !important;
  background-color: transparent !important;
  border-radius: 28px !important;
  transition: all 0.2s !important;
}
.btn-banner-video .size-icon {
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 4px;
  color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
}
.btn-banner-video:hover .size-icon {
  color: white;
}

.aboute-us-title {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.line-green {
  border-bottom: 3px solid #00796B;
  width: 6%;
  margin: auto;
  margin-bottom: 10px;
}

.about-us-text {
  text-align: center;
  margin-bottom: 50px;
  color: #6f6f6f;
}

.green {
  color: #00796B;
  font-size: 18px;
  padding-right: 5px;
}

.about-video-btn {
  position: absolute;
  top: 42%;
  left: 42%;
  border: none;
  background-color: #1A9082;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 0 20px 15px #00796B;
}
.about-video-btn:hover {
  box-shadow: 0 0 8px 10px #00796B;
  width: 100px;
  height: 100px;
  top: 40%;
  left: 40%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.call-top-btn {
  border: none;
  background-color: #1A9082;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 0 15px 10px #00796B;
  margin-bottom: 20px;
}
.call-top-btn:hover {
  box-shadow: 0 0 15px 5px #00796B;
}

.call-title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 17px;
}

.call-description {
  font-weight: 400;
  font-size: 18px;
}

.action-btn {
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  font-weight: 500;
  height: 50px;
  width: 220px;
  font-size: 17px;
  border-radius: 40px;
  word-spacing: 3px;
  transition: all 0.4s;
  margin-top: 10px;
}
.action-btn:hover {
  background-color: #1A9082;
  border: 2px solid #1A9082;
}

.service-title {
  font-weight: 500;
  font-size: 33px;
}

.service-description {
  color: #6f6f6f;
  margin-top: 15px;
}

.icon-top {
  z-index: 3;
  font-size: 56px;
  transition: ease-in-out 0.3s;
  position: relative;
}

.service-icon::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: #eeeeee;
  border-radius: 50px;
  z-index: 2;
  top: 10px;
  left: 15px;
  transition: 0.3s;
}

.item-title {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 4px solid #eeeeee;
  margin-bottom: 20px;
  transition: all 0.4s;
}

.readmore {
  text-decoration: none;
  color: #1A9082;
  font-size: 17px;
}
.readmore:hover {
  color: #1A9082;
}

.service-item:hover .item-title {
  border-bottom: 4px solid #00796B;
}

.service-item:hover .service-icon::before {
  background: #00796B;
}

.Our-Team-title {
  font-weight: 500;
  font-size: 33px;
}

.Our-Team-description {
  color: #6f6f6f;
  margin-top: 15px;
}

.fullname {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 0px;
  word-spacing: 3px;
}

.workname {
  color: #6f6f6f;
  font-size: 14px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 33px;
}

.portfolio-description {
  color: #6f6f6f;
  margin-top: 15px;
}

.product-title {
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}
.product-title:hover {
  color: #42B2E0;
}

.product-text {
  padding: 25px 20px;
  background-color: #fff;
  position: relative;
  border-top: 1px solid #f3f3f3;
  z-index: 2;
}
.product-text span {
  color: #a2a2a2;
}

.product-item img {
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.product-item img:hover {
  transform: scale(1.1);
}

.contact-title {
  font-weight: 500;
  font-size: 33px;
}

.contact-description {
  color: #6f6f6f;
  margin-top: 15px;
  margin-bottom: 50px;
}

#input-name {
  margin-bottom: 20px;
  border-radius: 0px;
  padding: 10px 10px;
}

#input-email {
  margin-bottom: 20px;
  border-radius: 0px;
  padding: 10px 10px;
}

#input-subject {
  margin-bottom: 20px;
  border-radius: 0px;
  padding: 10px 10px;
}

#text-area {
  height: 180px;
  border-radius: 0px;
  padding: 10px 10px;
  margin-bottom: 20px;
  resize: none;
}

.btn-contact {
  border: none;
  height: 50px;
  width: 190px;
  border-radius: 25px;
  background-color: #008374;
  color: white;
  transition: all 0.4s;
}
.btn-contact:hover {
  background-color: rgba(0, 131, 116, 0.8);
}

.footer-big-title {
  font-size: 34px;
  font-weight: 600;
}

.footer-des {
  font-size: 15px;
}

.footer-media {
  display: flex;
}
.footer-media a {
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  margin-left: 12px;
  padding: 7px 12px;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer-media a:hover {
  color: white;
  border: 1px solid white;
}
.footer-media a:first-child {
  margin-left: 0px;
}

.footer-title {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 992px) {
  .footer-title {
    margin-top: 20px;
  }
}

.footer-list {
  list-style: none;
}
.footer-list li {
  line-height: 35px;
}
.footer-list li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}

.footer-num1 {
  margin-bottom: 0px;
}

.copy-right {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 15px;
}
.copy-right p {
  margin-bottom: 2px;
}
.copy-right span {
  font-size: 14px;
}

.dropdown {
  position: relative;
}
.dropdown:hover .drop-list {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.drop-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-left: 15px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  top: 40px;
  left: 26px;
  margin-top: 6px;
  opacity: 0;
  width: 150px;
  transition: all 0.3s;
  visibility: hidden;
  z-index: 5;
}
.drop-list li {
  padding-left: 10px !important;
  line-height: 35px;
}
.drop-list li a {
  color: #00796B !important;
  transition: color 0.3s;
}
.drop-list li a:hover {
  color: red !important;
}

.dropdown2 .drop-list2 {
  margin-top: 10px;
  background-color: #007466;
  padding: 14px 20px 1px 20px;
  margin-right: 20px;
  border: 1px solid #006459;
  display: none;
}

.scroll-btn {
  position: fixed;
  right: 25px;
  bottom: 32px;
  background-color: #006459;
  color: #fff !important;
  padding: 15px 18px 15px 18px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */